In [5]:
import os

# Change working directory to your project folder where CapstoneCoding lives
os.chdir(r'C:\Users\Miranda\.ipython\CapstoneCoding')

print("Changed working directory to:", os.getcwd())
print("Folders here now:", os.listdir())

!pip install nbimporter
!pip install nbformat

Changed working directory to: C:\Users\Miranda\.ipython\CapstoneCoding
Folders here now: ['ER_dataset', 'Hospital_Inpatientdta', 'Medical_Conditionsta', 'OutpatientVisitsdta', 'README.md']
Requirement already satisfied: nbimporter in c:\users\miranda\miniconda3\lib\site-packages (0.3.4)
Requirement already satisfied: nbformat in c:\users\miranda\miniconda3\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\miranda\miniconda3\lib\site-packages (from nbformat) (2.21.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\miranda\miniconda3\lib\site-packages (from nbformat) (4.25.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\miranda\miniconda3\lib\site-packages (from nbformat) (5.9.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\miranda\miniconda3\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\miranda\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\miranda\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\miranda\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\miranda\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.28.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\miranda\miniconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.7)

In [6]:
import pandas as pd
import sys

In [8]:
#import in previously cleaned dataframes
from nbimporter import NotebookFinder
import sys

sys.meta_path.append(NotebookFinder())

from ER_dataset.ERCapstonenotebookfile import event_df, condition_df

ModuleNotFoundError: No module named 'ER_dataset.ERCapstonenotebookfile'

In [4]:
import os

print("Working directory:", os.getcwd())
print("Folders here:", os.listdir())
print("ER_dataset files:", os.listdir('ER_dataset'))
print("Is ERCapstonenotebookfile.ipynb here?", os.path.exists('ER_dataset/ERCapstonenotebookfile.ipynb'))

Working directory: C:\Users\Miranda\AppData\Local\Programs\Microsoft VS Code
Folders here: ['appx', 'bin', 'chrome_100_percent.pak', 'chrome_200_percent.pak', 'Code.exe', 'Code.VisualElementsManifest.xml', 'd3dcompiler_47.dll', 'ffmpeg.dll', 'icudtl.dat', 'libEGL.dll', 'libGLESv2.dll', 'LICENSES.chromium.html', 'locales', 'policies', 'resources', 'resources.pak', 'snapshot_blob.bin', 'tools', 'unins000.dat', 'unins000.exe', 'unins000.msg', 'v8_context_snapshot.bin', 'vk_swiftshader.dll', 'vk_swiftshader_icd.json', 'vulkan-1.dll']

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'ER_dataset'

In [ ]:


os.chdir(r'C:\Users\Miranda\.ipython\CapstoneCoding/')

In [13]:
#read in hospital data
df = pd.read_stata("Hospital_Inpatientdta/Hospital_Inpatient.dta")
df.head(3)

,DUID,PID,DUPERSID,EVNTIDX,EVENTRN,ERHEVIDX,FFEEIDX,PANEL,MPCDATA,IPBEGYR,...,IPDOF23X,IPDSL23X,IPDWC23X,IPDOT23X,IPDXP23X,IPDTC23X,IMPFLAG,PERWT23F,VARSTR,VARPSU
0,2790023,102,2790023102,2790023102002001,3 ROUND 3,-1,-1,27 PANEL 27,1 HAS MPC DATA,2022,...,0.0,0.0,0.0,0.0,1126.52,18923.0,2 COMPLETE MPC DATA,19699.576310,2037,1
1,2790046,103,2790046103,2790046103004701,3 ROUND 3,2790046103004801,-1,27 PANEL 27,2 NO MPC DATA,2023,...,0.0,0.0,0.0,0.0,428.95,1464.0,4 PARTIALLY IMPUTED,9131.375404,2055,3
2,2790046,103,2790046103,2790046103004901,3 ROUND 3,2790046103005001,-1,27 PANEL 27,1 HAS MPC DATA,2023,...,0.0,0.0,0.0,0.0,428.95,1464.0,2 COMPLETE MPC DATA,9131.375404,2055,3

In [ ]:
#check columns and dtype
df.info()

In [14]:
#create df with columns of interest
hospital_df = df[['DUPERSID', 'EVNTIDX', 'IPENDMM', 'IPDMR23X','IPDMD23X','IPDPV23X',
                  'IPFMD23X','IPFMR23X','IPFPV23X', 'EVENTRN']].copy()
hospital_df.head(3)

,DUPERSID,EVNTIDX,IPENDMM,IPDMR23X,IPDMD23X,IPDPV23X,IPFMD23X,IPFMR23X,IPFPV23X,EVENTRN
0,2790023102,2790023102002001,1,1126.52,0.0,0.00,0.0,24094.55,0.00,3 ROUND 3
1,2790046103,2790046103004701,2,0.00,0.0,428.95,0.0,0.00,12097.77,3 ROUND 3
2,2790046103,2790046103004901,2,0.00,0.0,428.95,0.0,0.00,9672.40,3 ROUND 3

In [15]:
#change column names from codebook variables
hospital_df.rename(columns={'DUPERSID': 'person_id', 'EVNTIDX': 'visit_id', 'IPENDMM': 'month', 'IPDMR23X': 'dr_medicare',
                            'IPDMD23X': 'dr_medicaid','IPDPV23X': 'dr_private',
                            'IPFMD23X': 'f_medicaid','IPFMR23X': 'f_medicare','IPFPV23X': 'f_private', 'EVENTRN': 'round'}, 
                            inplace=True)
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   person_id    1830 non-null   object
 1   visit_id     1830 non-null   object
 2   month        1830 non-null   category
 3   dr_medicare  1830 non-null   float64
 4   dr_medicaid  1830 non-null   float64
 5   dr_private   1830 non-null   float64
 6   f_medicaid   1830 non-null   float64
 7   f_medicare   1830 non-null   float64
 8   f_private    1830 non-null   float64
 9   round        1830 non-null   category
dtypes: category(2), float64(6), object(2)
memory usage: 118.9+ KB

In [16]:
#sum dr and facility payments to one column for medicare, medicaid, private
hospital_df['medicaid']= hospital_df['dr_medicaid'] + hospital_df['f_medicaid']
hospital_df['medicare']= hospital_df['dr_medicare'] + hospital_df['f_medicare']
hospital_df['private'] = hospital_df['dr_private'] + hospital_df['f_private']

#drop old columns
hospital_df = hospital_df.drop(['dr_medicaid', 'f_medicaid', 'dr_medicare', 'f_medicare', 'dr_private', 'f_private'], axis=1)
hospital_df.head()

    person_id          visit_id month      round  medicaid  medicare   private
0  2790023102  2790023102002001     1  3 ROUND 3       0.0  25221.07      0.00
1  2790046103  2790046103004701     2  3 ROUND 3       0.0      0.00  12526.72
2  2790046103  2790046103004901     2  3 ROUND 3       0.0      0.00  10101.35
3  2790050102  2790050102004601     5  4 ROUND 4       0.0   9826.38      0.00
4  2790050102  2790050102005401    10  5 ROUND 5       0.0    340.02  11026.60

In [17]:
#check category datatype in month column
hospital_df['month'].unique()

[1, 2, 5, 10, 12, ..., 3, 8, 7, 6, '-8 DON'T KNOW']
Length: 13
Categories (13, object): ['-8 DON'T KNOW' < 1 < 2 < 3 ... 9 < 10 < 11 < 12]

In [18]:
#drop invalid months
hospital_df = hospital_df.dropna(subset=['month'])

#change month datatype
#category label to string, coerce to NANs
hospital_df['month'] = pd.to_numeric(hospital_df['month'].astype(str), errors='coerce')
#drop Nans
hospital_df = hospital_df.dropna(subset=['month'])
#change datatype to int
hospital_df['month'] = hospital_df['month'].astype(int)

hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1819 entries, 0 to 1829
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  1819 non-null   object
 1   visit_id   1819 non-null   object
 2   month      1819 non-null   int64
 3   round      1819 non-null   category
 4   medicaid   1819 non-null   float64
 5   medicare   1819 non-null   float64
 6   private    1819 non-null   float64
dtypes: category(1), float64(3), int64(1), object(2)
memory usage: 101.5+ KB

In [ ]:
#merge hospital df with event to link medical condtion